{{ define "banner" }}

<div class="container-filed" id="banner_container">
    <div class="row">
        <div class="col-md-12">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="../../assets/blog/img/owl.jpg" data-thumb="assets/img/owl.jpg" alt="" />
                    <img src="../../assets/blog/img/owl3.jpg" data-thumb="assets/img/owl3.jpg" alt="" />
                    <a href="../../assets/blog/img/owl2.jpg"><img src="../../assets/blog/img/owl2.jpg" alt="" /></a>
                    <img src="../../assets/blog/img/owl.jpg" data-thumb="assets/img/owl.jpg" alt="" />
                    <img src="../../assets/blog/img/owl2.jpg" data-thumb="assets/img/owl2.jpg" alt="" />
                    <img src="../../assets/blog/img/owl3.jpg" data-thumb="assets/img/owl3.jpg" alt="" />
                    <img src="../../assets/blog/img/owl4.jpg" data-thumb="assets/img/owl4.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}