{{ define "leftbar" }}
<div class="leftbar">
    <!-- 左菜单 -->
    <div class="left_menu">
        <ul class="menu_link">
            <li>
                <a href="" class="simptip-position-right simptip-smooth simptip-movable"
                   data-toggle="tooltip" data-placement="right" title="登录">
                    <img src="../../assets/blog/img/login2.png">
                    <span>
                登录
              </span>
                    <div class="clearfix">
                    </div>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right" title="注册">
                <a href="" class="simptip-position-right simptip-smooth simptip-movable"
                   target="_black">
                    <img src="../../assets/blog/img/regist.png">
                    <span>
                注册
              </span>
                    <div class="clearfix">
                    </div>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right" title="发布博文">
                <a href="/public/blog" class="simptip-position-right simptip-smooth simptip-movable"
                   target="_black">
                    <img src="../../assets/blog/img/publish.png">
                    <span>
                发布博文
              </span>
                    <div class="clearfix">
                    </div>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right" title="发布作品">
                <a href="/public/work" class="simptip-position-right simptip-smooth simptip-movable"
                   target="_black">
                    <img src="../../assets/blog/img/work.png">
                    <span>
                发布作品
              </span>
                    <div class="clearfix">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{{ end }}