<!DOCTYPE html>
<html lang="cn" dir="ltr" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>发布个人作品 </title>
    <link href="../../assets/blog/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/blog/css/style.css" rel="stylesheet" />
    <link href="../../assets/blog/css/nprogress.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/blog/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../../assets/blog/css/default.css" type="text/css" media="screen" />
    <script src="../../assets/blog/js/jquery.min.js"></script>
    <script src="../../assets/blog/js/jquery.nivo.slider.pack.js"></script>
    <script src="../../assets/blog/js/nprogress.js"></script>
</head>

<body>

{{ template "header" }}

{{ template "leftbar" }}

<!--Start banner img-->
{{ template "banner" }}
<!--End banner img-->
<!--主要内容 -->
<div class="container-fluid main-container" id="main-container">

    <!--推荐阅读-->
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">
                <a href="/public/work" title="">发布作品</a>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 post-container">
            <div class="post-content">
                <form method="post" action="/works" id="form1" class="contact-form">
                    <div>
                      <span>
                        <label>
                            作品名称*
                        </label>
                      </span>
                      <span>
                        <input name="title" type="text" class="textbox">
                      </span>
                    </div>
                    <div>
                      <span>
                        <label>
                            作品简介*
                        </label>
                      </span>
                      <span>
                        <textarea name="about" class="textbox">
                        </textarea>
                      </span>
                    </div>
                    <div>
                      <span>
                        <label>
                            编程语言*
                        </label>
                      </span>
                        <span>
                        <input name="language" type="text" class="textbox">
                      </span>
                    </div>
                    <div>
                      <span>
                        <label>
                            star数量*
                        </label>
                      </span>
                        <span>
                        <input name="starNum" type="text" class="textbox">
                      </span>
                    </div>
                    <div>
                      <span>
                        <label>
                            fork数量*
                        </label>
                      </span>
                        <span>
                        <input name="forkNum" type="text" class="textbox">
                      </span>
                    </div>
                    <div>
                      <span>
                        <label>
                            作品链接*
                        </label>
                      </span>
                        <span>
                        <input name="url" type="text" class="textbox">
                      </span>
                    </div>
                    <div>
                      <span>
                        <input type="submit" value="提交" name="tijiao">
                      </span>
                    </div>
                </form>
            </div>
            <div class="meta-box"></div>
        </div>
    </div>

    <!-- 网站底部 -->
    {{ template  "footer" }}
</div>
{{template "slider"}}

</body>

</html>