<!DOCTYPE html>
<html lang="cn" dir="ltr" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>给我留言 </title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/nprogress.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../assets/css/default.css" type="text/css" media="screen" />
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.nivo.slider.pack.js"></script>
    <script src="../assets/js/nprogress.js"></script>
</head>

<body>

{{ template "header" }}

{{ template "leftbar" }}

<!--Start banner img-->
{{ template "banner" }}
<!--End banner img-->
<div class="container-fluid main-container contact" id="main-container">
    <div class="row top-title">
        <div class="col-md-12">
            <h1 class="page-title">
                给我留言
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 post-container">
            <h2 class="post-title">
                <a href="contact.html" rel="bookmark">
                    给我留言
                </a>
            </h2>
            <div class="meta-box">
            <span class="comments-link">
              <a href="contact.html" class="ds-thread-count" data-thread-key="750" title="Comment on 给我留言">
                  <span style="color: red;font-size: 15px">{{.nums}}</span> 条评论
              </a>
            </span>
            </div>
            <div class="post-content">
                <p>
                    <a href="javascript:;">
                <p>
                    呵呵
                </p>
                <blockquote class="contact-list" id="contact-list">
                    <ul>
                        <li>
                            有朋自远方来，不亦悦乎。
                        </li>
                        <li>
                            既然来了，如果我们有共同兴趣的话，不妨留言讨论，说不定我们会成为朋友。
                        </li>
                    </ul>
                </blockquote>
                <p>
                    关于我，我想我的个人
                    <a href="/about" target="_blank">
                        页面
                    </a>
                    已经介绍的比较详细了，如果你想联系我的话，不妨写信给我。
                </p>
                <p>
                    当然，如果你有微信的话，也可以在微信公众号【DL小宝】上面给我留言。
                </p>
                <p>
                    或者，直接在本页留言也可以，不过不确定什么时候会看到.......
                </p>
            </div>
            <div class="meta-box">
            </div>
        </div>
    </div>
    {{range $_, $message := .messages}}
    <div class="row">
        <div class="col-md-12 post-container">
            <div class="post-content">
                <div class="ds-thread" data-thread-key="750" data-author-key="1" data-title="给我留言"
                     data-url="/contact">
                </div>
                <div id="ds-ssr">
                    <ol id="commentlist">
                        <li class="comment even thread-even depth-1" id="li-comment-11325">
                            <article id="comment-11325" class="comment">
                                <footer class="comment-meta">
                                    <cite class="comment-author vcard">
                      <span class="fn">
                        <a href=""
                           rel='external nofollow' class='url'>
                            {{$message.Name}}
                        </a>
                      </span>
                        on
                        <a rel="nofollow" href="">
                            <time pubdate datetime="{{$message.CreateTime}}">
                                {{$message.CreateTime}}
                            </time>
                        </a>
                      <span class="says">
                        said:
                      </span>
                                    </cite>
                                </footer>
                                <div class="comment-content">
                                    <p>
                                        {{$message.Content}}
                                    </p>
                                </div>
                            </article>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {{end}}
    <div class="row">
        <div class="col-md-12 post-container">
            <div class="post-content">
                <form method="post" action="contact" id="form1" class="contact-form">
                    <div>
          <span>
            <label>
                姓名*
            </label>
          </span>
          <span>
            <input name="contact_name" type="text" class="textbox">
          </span>
        </div>
        <div>
          <span>
            <label>
                邮箱*
            </label>
          </span>
          <span>
            <input name="contact_email" type="email" class="textbox">
          </span>
        </div>
        <div>
          <span>
            <label>
                内容*
            </label>
          </span>
          <span>
            <textarea name="contact_con" class="textbox">
            </textarea>
          </span>
                    </div>
                    <div>
          <span>
            <input type="submit" value="提交" name="tijiao">
          </span>
                    </div>
                </form>
            </div>
            <div class="meta-box">
            </div>
        </div>
    </div>

    {{ template  "footer" }}

</div>
{{template "slider"}}
</body>

</html>