<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link title="style2" href="../assets/css/style.css" rel="stylesheet"/>
    <script src="../assets/js/jquery.min.js"></script>
    <style>
    .main-container{
        background: #FFF;
        margin:100px auto;
    }
    </style>
</head>
<body>
<section>
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12" id="help">
                <h1>帮助(Help)</h1>
            </div>
            <hr/>
            <div class="col-md-12" id="help-container">
                <h2>本博客所用插件,插件使用详情可以直接点击插件名字进入官网查看,或者有任何疑问也可以联系我</h2>
                <ul>
                    <li><a href="https://github.com/DIYgod/APlayer">Aplayer</a></li>
                    <li><a href="https://github.com/gilbitron/Nivo-Slider">nivo-slider</a></li>
                    <li><a href="http://ricostacruz.com/nprogress/">nprogress</a></li>
                    <li><a href="http://fancybox.net/">fancyBox</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>