<!DOCTYPE html>
<html lang="cn" dir="ltr" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>友情链接 </title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/nprogress.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../assets/css/default.css" type="text/css" media="screen" />
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.nivo.slider.pack.js"></script>
    <script src="../assets/js/nprogress.js"></script>
</head>

<body>

{{ template "header" }}
{{ template "leftbar" }}

<!--Start banner img-->
{{ template "banner" }}
<!--End banner img-->
<div class="container-fluid main-container" id="main-container">
    <div class="row top-title">
        <div class="col-md-12">
            <h1 class="page-title">
                友情链接
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 post-container">
            <div class="post-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <div class="caption">
                                嘿,baby,这里是存放友情链接的地方,在这里存储对您重要的友情链接，然后将其他友情链接存入一个单独的页面．
                                <li style="text-align: -webkit-match-parent;padding: 1%;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SimonWang00">我的github主页</a></li>
                                <li style="text-align: -webkit-match-parent;padding: 1%;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://blog.csdn.net/weixin_39128119">我的CSDN主页</a></li>
                                <li style="text-align: -webkit-match-parent;padding: 1%;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">微信公众号：DL小宝</a></li>
                                <li style="text-align: -webkit-match-parent;padding: 1%;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.baidu.com/">百度</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meta-box">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
    </div>

    {{ template  "footer" }}

</div>
{{template "slider"}}
</body>

</html>