{{ define "slider" }}
    <script src="../assets/js/bootstrap.min.js"></script>
    <script>
        /*banner 初始化*/
        $(window).load(function() {
            $('#slider').nivoSlider({
                effect: 'random',        // 过渡效果
                controlNav: false,       // 是否显示图片导航控制按钮（,2,3... ）
                pauseOnHover: true,      // 鼠标县浮时是否停止动画
                manualAdvance: false,    // 是否手动切换
                animSpeed: 100,          // 图片过渡时间
                pauseTime: 2000,         // 图片显示时间
                pauseOnHover: false,
                manualAdvance: false,
            });
        });
        $(document).ready(function(){
            $('body').show();
            $('.version').text(NProgress.version);
            NProgress.start();
            setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
        })

    </script>
{{ end }}